.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.mirrored { transform: scaleX(-1); }

#btn-auto-format:hover {
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.25);
}